<div class="step" data-x="53000">
    <div class="Heading"> DOM Manipulation </div>
    <div class="slide-number">27</div>
    <li>Once we access an element, we can read and write its attributes  </li>
    <div class="code-block">
        document.getElementById("demo").innerHTML = "Hello World!";
        document.getElementByTagName("img").src = "some_png";

    </div>
</div>

