<div id="home" class="step">
    <div class="Heading"> JavaScript  Introduction </div>
    <div class="slide-number">1</div>
    <p class="red">What is Javascript ? </p>
        <li> Javascript an object-oriented computer programming language commonly used to create interactive effects within web browsers.
        </li>
        <li> Was designed to add interactivity to HTML pages </li>		
        <li>  Is a scripting language (a scripting language is a lightweight programming language) </li>
        <li>JavaScript code is usually embedded directly into HTML pages </li>
        <li>JavaScript is an interpreted language (means that scripts execute without preliminary compilation) </li>

</div>
