<div class="step" data-x="30000">
    <div class="Heading">javascript promt Ex </div>
    <div class="slide-number">19</div>
    <p class="red"> prompt.html </p>
    <div class="code-block">
        <pre>
        < script>
           var price =  prompt("Enter the price", "10.00");
             alert(Price + VAT = + price * 1.2); 
        < /script>
        </pre>
         <script>
        function slide19(){
             var price = prompt("Enter the price", "10.00");
             alert('Price + VAT =' + price * 1.2); 
        }
        </script>

    </div>
       <button  onclick="slide19()">run Datatypes </button>
</div>

