<div class="step" data-x="31500">
    <div class="Heading">Conditional Statement  </div>
    <div class="slide-number">20</div>
    <div class="code-block">
        <pre>
            < script>
                if (quantity > 100) { 
                    unitPrice = 1.20;
                } 
            < /script>
        </pre>
    </div>
    <li> > , greater than </li>
    <li> < less than </li>
    <li> >= greater than or equal to  </li>
    <li> <= less than or equal to  </li>
    <li> == ,  equal </li>
    <li> != not equal </li>
</div>

