<div class="step" data-x="34000" data-rotate="90" data-scale="3">
    <div class="Heading">Loop </div>
    <div class="slide-number">20</div>
    <div class="code-block">
<pre>
    var c ;
    for(c=0;c<4;c++){  
        alert(c);
    }
    while(c<5){
        alert(c);    
    }
</pre>
    </div>
    <li> for loop </li>
    <li>while </li>
    <li>do while  </li>
</div>

