<div class="step" data-x="56000">
    <div class="Heading">Changing HTML Elements </div>
    <div class="slide-number">28</div>
    <li>Once we access an element, we can read and write its attributes  </li>
    <div class="code-block">
        
       // Method                                                 // Description  
        element.innerHTML                        =      Change the inner HTML of an element   
        element.setAttribute(attribute,value)    =      Change the attribute of an HTML  element
        element.style.property                   =      Change the style of an HTML element  

        // Adding and Deleting Elements
        document.createElement()                        Create an HTML element  
        document.removeChild()                          Remove an HTML element    
        document.write(text)                            Write into the HTML output stream   

        // Adding Events Handlers
        document.getElementById(id).onclick=function(){code}    Adding event handler code to an onclick event
    </div>
</div>

