<div class="step" data-x="33000">
    <div class="Heading">Same old Switch case </div>
    <div class="slide-number">21</div>
    <div class="code-block">
<pre>
  <span>  switch (variable) { </span> 
      <span> case 1:  </span>
      <span> break;</span>
     <span>   case a: </span>
     <span>   break; </span>
     <span>   case 3.14:</span>
     <span>   break;</span>
     <span>    default:</span>
  </span>  } </span>
</pre>
    </div>
</div>

