<div class="step"  data-x="7200" data-y="1200" data-scale="4">
    <div class="Heading"> More Info on JavaScript </div>
    <div class="slide-number">6</div>
    <p class="red">Answer  </p>
    <li> JavaScript is a front-end scripting language developed by Netscape for dynamic content  </li>
    <li> Can be used as object-oriented language </li>
    <li>Client-side technology  </li>
    <li>Embedded in your HTML page </li>
    <li> Interpreted by the Web browser </li>
    <li> Simple and flexible </li>
    <li>Powerful to manipulate the DOM </li>
</div>

