<div class="step"  data-x="17000" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
    <div class="Heading"> The First Script  </div>
    <div class="slide-number">9</div>
    <div class="code-block vertically-center">
        <code>
        <pre>
            < html>
                < body>
                    < script type="text/javascript"> 
                        alert('Hello JavaScript!');
                    < /script>
                </body>
            < /html> 
        </pre>
        </code>
         <script>
        function alertme(){
                        alert('Hello JavaScript!');
        }
        </script>
       <button id="slide9" onclick="alertme()">execute </button>
    </div>
</div>

