<div class="step" data-x="22500" data-y="4000" data-scale="2">
    <div class="Heading">Javascript Syntax </div>
    <div class="slide-number">13</div>
    <p class="red">The JavaScript syntax is similar to C# and Java </p>
    <li> Operators (+, *, =, !=, &&, ++, …)  </li>
    <li> Variables (typeless)  </li>
    <li> Conditional statements (if, else) </li>
    <li>  Loops (for, while) </li>
    <li> Arrays (my_array[]) and associative arrays  </li>
    <li> Functions (can return value) </li>
    <li> </li>
</div>

