<div class="step" data-x="35000" data-y="2000">
    <div class="Heading">The HTML DOM Tree of Objects </div>
    <div class="slide-number">23</div>
    <div class="code-block">
<pre>
<img style="display:block;margin:0 auto;"src="./images/pic_htmltree.gif"/>
</pre>
    </div>
    <li> With the object model, JavaScript gets all the power it needs to create dynamic HTML</li>
    <li>JavaScript can change all the HTML attributes in the page</li>
    <li>JavaScript can change all the CSS styles in the page </li>
</div>

