<div class="step" data-x="26400">
    <div class="Heading">Arrays Operations and Properties </div>
    <div class="slide-number">16</div>
    <li> Declaring new empty array  </li>
    <div class="code-block ">
         var arr = new Array();//
         var arr = [];//
    </div>
    <li> Declaring an array holding few elements: <li>
    <div class="code-block ">
        var arr = [1, 2, 3, 4, 5];
    </div>
    <li> Appending an element / getting the last element <li>
    <div class="code-block ">
         arr.push(3);
         var element = arr.pop();
    </div>
    <li> Reading the number of elements (array length) </li>
    <div class="code-block ">
        arr.length;
    </div>
    <li>Finding elements index in the array <li>
    <div class="code-block"> 
        arr.indexOf(1);
    </div>
</div>

