<div class="step" data-x="1500" data-y="800">
    <div class="Heading"> What can Javascript DO ?? </div>
    <div class="slide-number">2</div>
    <p class="red">Answer  </p>
    <li> JavaScript gives HTML designers a programming tool </li>
    <li> JavaScript can put dynamic text into an HTML page </li>
    <li> JavaScript can react to events </li>
    <li> JavaScript can read and write HTML elements  </li>
    <li>JavaScript can be used to validate input data  </li>
    <li>JavaScript can be used to detect the visitor's browser </li>
</div>

