<div class="step" data-x="25200" data-y="1500"> 
    <div class="Heading"> Everything Is Object  </div>
    <div class="slide-number">15</div>
    <p class="red"> Every variable can be considered as an Object </p>
    <div class="code-block">
        <code>
        <pre>
            < html>
                < body>
                    < script type="text/javascript"> 
                     var test = "some string"; alert(test[7]); // shows letter r 
                     alert(test.charAt(5)); // shows letter s 
                     alert("test".charAt(1)); //shows letter e
                     alert("test".substring(1,3)); //shows es
                     var arr = [1,3,4]; alert (arr.length); // shows 3 
                     arr.push(7); // appends 7 to end of array
                     alert (arr[3]); // shows 7 21
                    < /script>
                </body>
            < /html> 
        </pre>
        </code>
         <script>
        function slide15(){
                     var test = "some string"; alert(test[7]); // shows letter r 
                     alert(test.charAt(5)); // shows letter s 
                     alert("test".charAt(1)); //shows letter e
                     alert("test".substring(1,3)); //shows es
                     var arr = [1,3,4]; alert (arr.length); // shows 3 
                     arr.push(7); // appends 7 to end of array
                     alert (arr[3]); // shows 7 21

        }
        </script>

       <button  onclick="slide15()">run Datatypes </button>
    </div>
</div>

