<div class="step" data-x="27600">
    <div class="Heading">Standard Popup Boxes </div>
    <div class="slide-number">17</div>
    <p class="red"> Alert box with text and [OK] button   </p>
    <li>Just a message shown in a dialog box: </li>
    <div class="code-block ">
        alert("Some text here");
    </div>
    <li>Confirmation box Contains text, [OK] button and [Cancel] button:</li>
    <div class="code-block ">
        confirm("Are you sure?");
    </div>
    <li> Prompt box Contains text, input field with default value </li>
    <div class="code-block ">
         prompt ("enter amount", 10);
    </div>
</div>

