<div class="step"  data-x="6000" data-y="-1500" data-rotate="-270">
    <div class="Heading"> DHTML </div>
    <div class="slide-number">5</div>
    <p class="red">Dynamic Behaviour at Client Side  </p>
    <li> Dynamic Hypertext Mark-Up Language.  </li>
    <li>"DHTML is the combination of HTML and JavaScript" </li>
    <li>"DHTML is the combination of several built-in browser features in fourth generation browsers that enable a web page to be more dynamic" </li>
    <li> document.write("This is text created on the fly!") </li>
    <li> Makes possible a Web page to react and change in response to the user’s actions </li>
    <li>  DHTML = HTML + CSS + JavaScript  </li>
</div>

