<div class="step" data-x="17000">
    <div class="Heading"> Second Script  </div>
    <div class="slide-number">10</div>
    <div class="code-block vertically-center">
        <code>
        <pre>
            < html>
                < body>
                    < script type="text/javascript"> 
                     document.write('JavaScript rulez!'); 
                    < /script>
                </body>
            < /html> 
        </pre>
        </code>
         <script>
        function writeme(){
            $('#slide10').text('Javascript rulez');
        }
        </script>

    <div class="code-execute" id="slide10"></div>
       <button id="slide9" onclick="writeme()">write Something </button>
    </div>
</div>

