<div class="step" data-x="40000">
    <div class="Heading">Accessing Elements </div>
    <div class="slide-number">26</div>
    <li>accessing elements via their ID attribute </li>
    <div class="code-block">
        var el1 = document.getElementById('some_id');
    </div>
    <li>via their name attribute </li> 
    <div class="code-block">
        var el2 = document.getElementByName('some_name');
    </div>
    <li>via their tag name </li> 
    <div class="code-block">
        var el3 = document.getElementByTagName('img');
    </div>
    <li>via their class name </li> 
    <div class="code-block">
        var el3 = document.getElementByClassName('some_class');
    </div>
</div>

