<div class="step" data-x="24000" data-y="4300" data-z="-1000" data-rotate-x="-90" data-rotate-y="45" data-scale="2">
    <div class="Heading"> DataTypes </div>
    <div class="slide-number">14</div>
    <p class="red">Javascript Data types  </p>
    <li> Number (integer , floating-point )  </li>
    <li>Boolean (True , False) </li>
    <li> String type - string of characters</li>
    <div class="code-block ">
         var myName = "You can use both single or double quotes for strings";
    </div>
    <li>  Arrays </li>
    <div class="code-block ">
         var my_Array = [1, 5.3, "aaa"];
    </div>
    <li> Associative Array </li>
    <div class="code-block"> 
        var my_Hash = {a:2, b:3, c:"text"}; 
    </div>
</div>

