<div class="step" data-x="38500">
    <div class="Heading">What is the HTML DOM? </div>
    <div class="slide-number">25</div>
    <p class="red">The HTML DOM is a standard object model and programming interface for HTML It Defines</p>
    <li>The HTML elements as objects</li>
    <li>The properties of all HTML elements </li>
    <li>The methods to access all HTML elements </li>
    <li>The events for all HTML elements </li>
    <p class="red">The HTML DOM is a standard for how to get, change, add, or delete HTML elements. </p>
</div>

