<div class="step" data-x="15500" data-y="2100" data-rotate="180" data-scale="6">
    <div class="Heading"> What can Javascript DO ?? </div>
    <div class="slide-number">8</div>
    <p class="red">Answer  </p>
    <li> Can handle events </li>
    <li>Can read and write HTML elements and modify the DOM tree</li>
    <li>Can validate form data </li>
    <li>  Can access / modify browser cookies</li>
    <li> Can be used as object-oriented language </li>
    <li> Can handle exception </li>
    <li>Can perform asynchronous server calls (AJAX) </li>
</div>

