  <div id="title" class="step"  data-x="4800" data-y="-1500" data-rotate="270">
    <div class="slide-number">
        4
    </div>
    <div class="heading">Where Do You Place Scripts?  </div>
    <p class='red'>Scripts can be in the either in </p>
        <pre>
            <span class="red"> Head Section </span>
            <span class="red"> Body Section </span>

          <p>  Ideal convention is to put script on head section </p>
        </pre>
          <p class="red"> Js script can be added to a external file also similar to what we did in Css </p>
</div>

