<div class="step" data-x="10800"  data-rotate="90" data-scale="5">
    <div class="Heading"> JavaScript Advantages </div>
    <div class="slide-number">7</div>
    <p class="red"> JavaScript allows interactivity such as: </p>
    <li> Implementing form validation  </li>
    <li> React to user actions, e.g. handle keys  </li>
    <li> Changing an image on moving mouse over it  </li>
    <li>Sections of a page appearing and disappearing    </li>
    <li> Content loading and changing dynamically (ajax)  </li>
</div>

