<div class="step" data-x="7000">
    <div class="Heading"> What can Javascript DO ?? </div>
    <div class="slide-number">2</div>
    <p class="red">Answer  </p>
    <li>  </li>
    <li> <li>
    <li> <li>
    <li>   </li>
    <li>  </li>
    <li> </li>
    <li> </li>
</div>

